<launch>

	<node pkg="map_server" type="map_server" name="map_server" args="$(find robot_launch)/world/hallway.yaml"/>

	<!--Launch rviz-->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_launch)/rviz/navigation.vcg">
		<remap from="move_base_simple/goal" to="nice_core/main_goal"/>
	</node>

</launch>