<launch>
	<!--Launch Openni Tracker that feeds tf data to /tf-->
	<node name="openni_tracker" pkg="openni_tracker" type="openni_tracker" />

	<!--Launch tf setup for robot-->
<!-- 	<node pkg="tf_setup" type="tf_setup" name="tf_setup">
		<rosparam file="$(find costmap_update)/launch/config.yaml" command="load"/>
	</node> -->

	<!--Create a node for costmap_update for testing-->
	<node name="costmap_update" pkg="costmap_update" type="costmap_update" />

	<!-- Launch hokuyo nodes -->
	<include file="$(find laser_node)/launch/laser_hokuyo.launch"/>

	<!-- Include launching for gmapping -->
  	<include file="$(find robot_launch)/launch/gmapping/gmapping.launch"/>
 
	<!--Run AMCL-->
	<include file="$(find robot_launch)/launch/amcl/amcl_diff.launch" />

	<!--Run Move base-->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find robot_launch)/configs/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find robot_launch)/configs/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find robot_launch)/configs/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find robot_launch)/configs/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find robot_launch)/configs/base_local_planner_params.yaml" command="load" />
	</node>

	<!--Launch rxconsole-->
	<!--<node name="rxconsole" pkg="rxconsole" type="rxconsole" />-->

	<!--Run rviz-->
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_launch)/rviz/navigation.vcg"/>

</launch>